@font-face {
    font-family: "computer";
    src: url("VCR_OSD_MONO_1.001.ttf");
}
.bloco {
    width: 500px;
    height: 100px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco__titulo {
    font-size: 26px;
    font-family: computer;
    width: 400px;
    height: 37px;
    display: flex;
    justify-content: center;
}

.titulo {
    margin-top: 0px;
    font-size: 26px;
    color: rgb(51, 255, 0)
}

.bloco__slider {
    color: rgb(51, 255, 0);
    height: 100px;
    width: 10px;
    font-size: 30px;
    margin-top: 0px;
}